@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
*{
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:200px;
    background:grey;
}
header div{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:3rem;
    padding:20px 0 0 20px;
}
header nav{
    display:flex;
    width:380px;
    height:50px;
    margin-left:40px;
    justify-content:space-evenly;
    align-items:center;
    margin-top:20px;
}
header nav a{
   background:white;
   text-decoration:none;
   color:black;
   padding:15px 25px;
   font-family: 'Lato', sans-serif;
   font-weight:200; 
}
.s1{
    width:100%;
    height:250px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
}
.imageDiv{
    width:40%;
}
.imageDiv img{
    width:100%;
}
.meText{
    width:50%;
    font-family: 'Lato', sans-serif;
    font-size:1.1rem;
}
.meText h1{
    font-family: 'Lato', sans-serif;
    font-size:1.5rem;
}
.meText a{
    background:black;
    text-decoration:none;
    color:white;
    padding:15px 25px;
    font-family: 'Lato', sans-serif;
    font-weight:200;
    border-radius:10px; 
}
.s2{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-bottom:20px;
}
.s2 div{
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
}
footer{
    width:100%;
    height:150px;
    background:grey;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:1.25rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
}
footer a{
    background:black;
    text-decoration:none;
    color:white;
    padding:15px 25px;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
    font-weight:200;
    border-radius:10px;
}

/**********MEDIA QUERY***********/
@media(max-width:900px){
    header{
        text-align:center;
        width:100%;
        height:270px;
        background:grey;
    }
    header div{
        color:white;
        font-family: 'Lato', sans-serif;
        font-size:2.5rem;
        padding:10px 0 0 20px;
    }
    header nav{
        display:flex;
        flex-direction: column;
        width:100%;
        height:30px;
        margin-left:0px;
        justify-content:space-evenly;
        align-items:center;
        margin-top:90px;
    }
    header nav a{
       background:white;
       width:25%;
       text-decoration:none;
       color:black;
       padding:10px 25px;
       font-family: 'Lato', sans-serif;
       font-weight:200;
       margin-bottom: 5px;
    }
    .s1{
        width:100%;
        height:250px;
        display:flex;
        margin-bottom:20px;
        text-align:center;
    }
    .imageDiv{
        width:100%;
    }
    .imageDiv img{
        width:100%;
    }
    .meText{
        width:100%;        
    }
    .meText h1{
        font-family: 'Lato', sans-serif;
        font-size:1.5rem;
        margin-top:20px;
    }
    .meText a{
        background:black;
        text-decoration:none;
        color:white;
        padding:15px 50px;
        font-family: 'Lato', sans-serif;
        font-weight:200;
        border-radius:10px; 
    }
    .s2{        
        width:100%;
        height:auto;
        display:flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
        margin-top:53%;
        margin-bottom:-53%;
    }
    .s2 div{
        text-align:center;
        font-family: 'Lato', sans-serif;
        font-size:1rem;
    }
    footer{
        width:100%;
        height:150px;
        background:grey;
        color:white;
        font-family: 'Lato', sans-serif;
        font-size:1.6rem;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: space-evenly;
        margin-top:60%;
    }
    footer a{
        background:black;
        text-decoration:none;
        color:white;
        padding:15px 25px;
        font-family: 'Lato', sans-serif;
        font-size:1.4rem;
        font-weight:200;
        border-radius:10px;
    }
}


